---
title: Games 
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">We build fun stuff</h2>
		<p class="subtext editable"><strong>Ponup</strong> is an indie development company looking to make different things differently.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/portfolio/">View our portfolio</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of our work</h3>
			<p class="editable">We take pride in our previous work and our happy customers. We cater to any sector to boost business and increase exposure.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/software.png" width="300"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Not only games</h3>
			<p class="editable">We also develop professional apps for customers needing robust Web, mobile and desktop software.</p>
		</div>
	</div>
</section>
