
$cCyan : 			#4FC0E8;
$cCyanDark : 		#3BAEDA;
	
$cVerde : 			#A0D468;
$cVerdeDark : 		#8CC051;

$cEsmeralda : 		#48CFAE;
$cEsmeraldaDark:	#36BC9B;
	
$cAmarillo : 		#FFCE55;
$cAmarilloDark: 	#F6BB43;
	
$cNaranja : 		#e5ba5b;
$cNaranjaDark : 	#e3a711;
	
$cRojo: 			#ED5564;
$cRojoDark: 		#DB4453;
	
$cRosa: 			#EC87BF;
$cRosaDark: 		#D870AD;
	
$cTomateLight: 		#FA6F52;
$cTomate: 			#FA6F52;
$cTomateDark: 		#E9573E;
	
$cAzul : 			#5E9AF0;
$cAzulDark : 		#4989E0;
	
	
$cVioleta: 			#AB93EB;
$cVioletaDark: 		#967BDC;
	
$cBlanco : 			#FFFFFF;
$cBlancoDark : 		#F6F7FB;
$cGris : 			#E6E9EE;
$cGrisDark : 		#AAB2BD;
$cIndigo: 			#666D77;
$cIndigoDark: 		#434A54;
$cNegro : 			#0E0809;
$cNegroDark:		#000000;
	
$cMarron: 			#69625c;
$cCiruelon : 		#404048;

